
	<mat-card>
  <button mat-raised-button color="primary" routerLink="/glogin">Login using UNCC</button>
  <br><mat-divider></mat-divider><br>
  <button mat-raised-button color="primary" (click)="submitLogin();">Login using facebook</button> 
  <br><mat-divider></mat-divider><br>
  <button mat-raised-button color="asset" routerLink="/usersignup">Login using student profile</button> 
  <br><mat-divider></mat-divider><br>
  <button mat-raised-button color="asset" routerLink="/login">Faculty login</button> 
  </mat-card>

